.container-logo{
    position: absolute;
    width: 79px;
    height: 59px;
    left: -1px;
    top: 0px;

    background: #ffffff;
    border-radius: 0px 0px 20px 0px;
}

.table-product__tr--active {
    background-color: #ddd;
}

.section-buttons__btn {
    width: 10rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media (max-width:600px) {
    .section-buttons__btn {
        width: auto;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}